body {
    background-color: #eef2f7; 
font-family: Arial, sans-serif;
font-size: 16px;
margin: 0;
padding: 20px;
}

h1 {
font-size: 32px; 
color: darkblue; 
text-align: center;
}

h2 {
font-size:20px;
color: #243b53;
}

section {
background-color: #faf3dd;
padding: 15px; 
border-radius: 10px; 
margin-bottom: 15px; 
}